body {
  font-family: 'Open Sans', sans-serif;
}

.spoiler-block-censored {
  color: black !important;
  background-color: black !important;
  border-radius: 8px;
  span, div, em, h1, h2, h3, h4, h5, cite {
    color: black !important;
  }
  img {
    display: none;
  }
}

.spoiler-block-censored a {
  color: black;
  text-decoration: none;
  &:link, &:visited, &:hover, &:active{
    color: black;
    text-decoration: none;
  }
}
